.contact-main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-image: url("/images/site/type-writer.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-container {
  /* background-image: url("/images/site/type-writer.jpg"); */
  /* background-size: cover;
  background-position: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 800px;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  /* max-width: 400px; */
  width: 90%;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.form-container h1 {
  text-align: center;
  font-weight: 400;
}

.form-container label,
.form-container input,
.form-container textarea {
  display: block;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
}

.form-container button {
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
  background-color: tomato;
  color: white;
  border: none;
  cursor: pointer;
}

.form-container button:hover {
  background-color: rgb(229, 85, 60);
}

/* Media Queries */

@media (max-width: 1280px) {
}

@media (max-width: 992px) {
}

@media (max-width: 576px) {
  .contact-container {
    /* background-image: url("/images/site/type-writer.jpg"); */
    /* background-size: cover;
  background-position: center; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
